<ion-content class="ion-padding">
  <div class="wrap-content">
    <ion-label class="wc-person">
      <ion-icon class="icono-per" name="person-circle-outline"></ion-icon>
      <ion-label class="text-Icon">
        <h2>Lorem Name</h2>
        <h3>Ipsum dolot</h3>
      </ion-label>
    </ion-label>
  </div>
  <ion-label class="Imagen">
    <img src="assets/TABLAS.png">
  </ion-label> 

  <div class="div-dol">
    <div id="arrow-up">
      <ion-icon name="arrow-up"></ion-icon>
    </div>
    <ion-label>Label</ion-label>
    <ion-label>Label</ion-label>
    
  </div>
</ion-content>
