<ion-content class="ion-padding">
  <div class="wrap-content">
    <h1>MY BANK ACCOUNT</h1>
    <ion-label class="wc-person">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-label>
    <h2>Lorem name</h2>
    <div class="wc-desc">
      <ion-icon name="location-sharp"></ion-icon>
      <ion-label>Lorem idol</ion-label>
    </div>
    <div class="menu-horizontal">
      <ul>
        <li><a href="#">Dolor</a></li>
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">Amet</a></li>
      </ul>
    </div>
    <ion-card class="CARD">
      <ion-card-header class="Tit-CARD">
        <div class="CARD-T">
        <ion-card-title class="right-align">CARD</ion-card-title>
        </div>
        <ion-card-subtitle><h2 class="NUMCARD">0000 0000 0000</h2> </ion-card-subtitle>
        <ion-card-content class="Nombre_C">
          <p>Lorem ipsum</p>
        </ion-card-content>
      </ion-card-header>
    
      <ion-card-content class="Columnas-INF">
        <h2 class="INF-Card">Dolor Name</h2>
        <h3>Ipsum Dolor</h3>
        <h2 class="INF-Card">05/20</h2>
        <h3>Amet</h3>
      </ion-card-content>
    </ion-card>
    <ion-list class="ion-color-primary ">
      <ion-item>
        <ion-label>Lorem Ipsum</ion-label>
        <ion-label class="List-R">Dolor</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Dolor Sit</ion-label>
        <ion-label class="List-R">Ipsum</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ipsum Dolor</ion-label>
        <ion-label class="List-R">Dolor</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Sit amet</ion-label>
        <ion-label class="List-R">Sit</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>