<ion-content class="ion-padding">
  <div class="wrap-content">
    <ion-label class="wc-person">
      <ion-icon class="icono-per" name="person-circle-outline"></ion-icon>
      <ion-label class="text-Icon">
        <h2>Lorem Name</h2>
        <h3>Ipsum dolot</h3>
      </ion-label>
    </ion-label>
  </div>
  <ion-card class="Card">
  <ion-card-header>
    <ion-card-title class="Icon-card"><ion-icon name="settings"></ion-icon></ion-card-title>
    <ion-card-subtitle>
      <ion-label class="Text-Card"><h2>Lorem Ipsum Dolot</h2></ion-label>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-card-subtitle>
      <ion-label class="Text-Card"><h1>$236,678.25</h1></ion-label>
    </ion-card-subtitle>
  </ion-card-content>
  </ion-card>
  <div class="botones">
  <ion-button>
    <ion-icon name="add"></ion-icon>
  </ion-button>
  </div>
  <div class="botones">
  <ion-button> 
    <ion-icon name="search"></ion-icon>
  </ion-button>
</div>
  <div class="botones">
  <ion-button>
    <ion-icon name="barcode"></ion-icon>
  </ion-button>
</div>
  <div class="centered-circular-div">
    <h1>100%</h1>
    <h2>Lorem Ipsum</h2>
  </div>
  <div class="Contenedor-Dolar">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="Col-Txt" >Dolare</ion-card-title>
      <ion-card-subtitle class="Col-Txt">$ 11,300</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button>
       <ion-label>Dolor</ion-label><ion-icon name="play"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="Col-Txt" >Sit amet</ion-card-title>
      <ion-card-subtitle class="Col-Txt">$ 8,600</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button >
       <ion-label>dolor</ion-label><ion-icon name="play"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
